/*Universal styles */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    border-top: 1px solid black;
}

/* Header section */
header {
    position: fixed;
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    z-index: 10;
    background-color: white;
}
header ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    
}
header li {
    list-style-type: none;
    
}
header a {
    text-decoration: none;
    color: black;
    border: .5px solid black;
    padding: .25rem;
    border-radius: 5px;
    box-shadow: 1px 1px;
}
header a:hover{
    color: white;
    background-color:black;
}
header a:active {
    color: yellow;
}


/* Welcome section */
#welcome-section {
    height: 100vh;
    background-image: url("../images/laptop_blackandwhite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    top: 5rem;
}
#welcome-section h1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
#welcome-section-info {
    margin: 0 auto;
    background-color: rgba(248, 248, 248, 0.85);
    height: 5rem;
    min-width: 50%;
    max-width: 65%;
   text-align:center;
   padding: 3rem;
   padding-bottom: 4rem;
   font-weight: 300;
   border-radius: 5px;
   border: .5rem solid white;

}

/* Project Section */
#projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}
.project-tile {
    margin: .5rem auto;
    background-color: gray;
    border: 1rem solid black;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    
}
.project-tile-link {
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
    border-top: 2px solid black;
}
.project-tile-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.project-tile-link a:hover{
    color: black;
}
.project-tile-img {
   min-width: 30rem;
    max-width: 50rem;
    height:auto;
}




/* Contact section */
#contact {
    width: 100%;
    height: 10rem;
}
#social_icons {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}
#social_icons img{
 width: 5rem;
 height: 5rem;   
}
#social_icons img:hover {
    width:6rem;
    height: 6rem;
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
}

/* media query */

@media only screen and (max-width: 500px) {
    #welcome-section-info {
        padding-bottom: 6rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .project-tile {
        border: .5rem solid black;
    }
    .project-tile-img {
    min-width: 9rem;
    max-width: 20rem;
    height:auto;
    }
    .project-tile-link {
        font-size: 1rem;
    }

}
@media only screen and (min-width: 501px) and (max-width: 850px) {
    .project-tile {
        border: .5rem solid black;
    }
    .project-tile-img {
    min-width: 25rem;
    max-width: 30rem;
    height:auto;
    }
    .project-tile-link {
        font-size: 1rem;
    }

}